<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">About</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
				<header class="page-header">
					<h1 class="page-title">Contact us</h1>
				</header>
				
				<p>
					We’d love to hear from you. Interested in working together? Fill out the form below with some info about your project and I will get back to you as soon as I can. Please allow a couple days for me to respond.
				</p>
				<br>
					<form name="sentMessage" id="contactForm" novalidate="" class="col-sm-8">
						<div class="row">
							<div class="controls">
	                            <label class="col-sm-4" for="fullName" control-label>Full Name:</label>
	                            <input class="col-sm-7" type="text" class="form-control" id="fullName" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
	                            <p class="help-block"></p>
	                        </div>
                        </div>
                        <div class="row">

                        <div class="controls">
                            <label class="col-sm-4" for="emailAddress" control-label>Email Address:</label>
                            <input class="col-sm-7" type="email" class="form-control" id="emailAddress" required="" data-validation-required-message="Please enter your email address.">
                        <div class="help-block"></div>
                    </div>
                        </div>
                        <div class="row">
							<div class="control-group form-group">
		                        <div class="controls">
		                            <label class="col-sm-4" for="phonenumber" control-label>Phone Number:</label>
		                            <input class="col-sm-7" type="tel" class="form-control" id="phonenumber" required="" data-validation-required-message="Please enter your phone number.">
		                        <div class="help-block"></div></div>
		                    </div>
                        </div>
                        <div class="row">
							<div class="col-sm-12">
								<textarea placeholder="Type your message here..." class="form-control" rows="9"></textarea>
							</div>
                        </div>
                        <div class="submit-row row">
							<div class="col-sm-6">
								<label class="checkbox"><input type="checkbox"> Sign up for newsletter</label>
							</div>
							<div class="col-sm-6 text-right">
								<input class="btn btn-action" type="submit" value="Send message">
							</div>
                        </div>
					</form>

			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">

				<div class="widget">
					<h3>Contact Details</h3>
					<p>
	                    3481 Melrose Place<br>Beverly Hills, CA 90210<br>
	                </p>
	                <p><i class="fa fa-phone"></i> 
	                    <abbr title="Phone">P</abbr>: (123) 456-7890</p>
	                <p><i class="fa fa-envelope-o"></i> 
	                    <abbr title="Email">E</abbr>: <a href="mailto:name@example.com">name@example.com</a>
	                </p>
	                <p><i class="fa fa-clock-o"></i> 
	                    <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
	                <ul class="list-unstyled list-inline list-social-icons">
	                    <li>
	                        <a href="#"><i class="fa fa-facebook-square fa-1x"></i></a>
	                    </li>
	                    <li>
	                        <a href="#"><i class="fa fa-linkedin-square fa-1x"></i></a>
	                    </li>
	                    <li>
	                        <a href="#"><i class="fa fa-twitter-square fa-1x"></i></a>
	                    </li>
	                    <li>
	                        <a href="#"><i class="fa fa-google-plus-square fa-1x"></i></a>
	                    </li>
	                </ul>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	
	<section class="container-full top-space">
		<div id="map"></div>
	</section>